<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Your Companion</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/6d01efcfaa.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body background = "/static/img/avatarcnsrg-800.png" >
     <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Your Companion</a>
            </div>
        </nav>
        <br>
        <br>
<div class="col-lg-12" >
                    <div class="chat-panel panel panel-default" style="opacity:0.90" id = "chatbot">
                        <div class="panel-heading" >
                            <i class="fa fa-comments fa-fw"></i> Chat With Your Companion
                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" >
                            <ul class="chat" id="userchat">
                                <li>
                                
                                <div style='text-align: left'><strong><img src='/static/img/avatarcnsrg-800.png' height='60px' width='60px' class='img-circle'/>YuCo:</strong> Hello</div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm"  placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button id="send" onclick="f()" class="btn btn-warning btn-sm"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
                </div>
                <div class="col-lg-10" style="opacity:0.90">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Song And Movie Recomendations
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Recommend Movie</a>
                                        </h4>
                                    </div>
                                    <button id="com_mov" type="button" onclick="com_mov_recomm()" class="btn btn-default">Comedy</button>
                            <button id="mot_mov" type="button" class="btn btn-default" onclick="mot_mov_recomm()">Motivational</button>
                            <button id="feel_good_mov" type="button" class="btn btn-default" onclick="feel_good_mov_recomm()">Feel-Good</button>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div id="mov_output" class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Recommend Song</a>
                                        </h4>
                                    </div>
                                    <button type="button" class="btn btn-default">Comedy</button>
                            <button type="button" class="btn btn-default">Motivational</button>
                            <button type="button" class="btn btn-default">Feel-Good</button>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>

    <script type="text/javascript">
    let f = function() {
        console.log(document.getElementById('btn-input').value);
        let text = document.getElementById('btn-input').value;
        document.getElementById('btn-input').value = "";
        var node = document.createElement("li");
        node.className = "right clearfix";
        node.innerHTML = "<div style='text-align: right'><img src='/static/img/user.png' height='60px' width='60px' class='img-circle'/><strong>You:</strong> " + text + "</div>";
        document.getElementById('userchat').appendChild(node);

        
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", '/api/chat/receive?text=' + text, false ); // false for synchronous request
        xmlHttp.send( null );
        let dat = xmlHttp.responseText;
        console.log(JSON.parse(dat)["text"]);
        var node = document.createElement("li");
        node.className = "right clearfix";
        node.innerHTML = "<div style='text-align: left'><img src='/static/img/avatarcnsrg-800.png' height='60px' width='60px' class='img-circle'/><strong>YuCo:</strong> " + JSON.parse(dat)["text"] + "</div>";
        document.getElementById('userchat').appendChild(node);
    }

    </script>

    <script type="text/javascript">
        let com_mov_recomm = function(){
        let xmlHttp_com_mov = new XMLHttpRequest();
        xmlHttp_com_mov.open( "GET", '/com_mov', false ); // false for synchronous request
        xmlHttp_com_mov.send( null );

        let dat_com_mov = xmlHttp_com_mov.responseText;

        console.log("I'm Here\n");
        var node = document.getElementById('mov_output');
        document.getElementById('mov_output').value = "";
        node.innerHTML = "<p> "+ dat_com_mov +" </p>";
        }
    </script>

    <script type="text/javascript">
        let mot_mov_recomm = function(){
        let xmlHttp_mot_mov = new XMLHttpRequest();
        xmlHttp_mot_mov.open( "GET", '/mot_mov', false ); // false for synchronous request
        xmlHttp_mot_mov.send( null );

        let dat_mot_mov = xmlHttp_mot_mov.responseText;

        console.log("I'm Here\n");
        var node = document.getElementById('mov_output');
        document.getElementById('mov_output').value = "";
        node.innerHTML = "<p> "+ dat_mot_mov +" </p>";
        }
    </script>

    <script type="text/javascript">
        let feel_good_mov_recomm = function(){
        let xmlHttp_feel_good_mov = new XMLHttpRequest();
        xmlHttp_feel_good_mov.open( "GET", '/feel_good_mov', false ); // false for synchronous request
        xmlHttp_feel_good_mov.send( null );

        let dat_feel_good_mov = xmlHttp_feel_good_mov.responseText;

        console.log("I'm Here\n");
        var node = document.getElementById('mov_output');
        document.getElementById('mov_output').value = "";
        node.innerHTML = dat_feel_good_mov;
        }
    </script>


    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/data/morris-data.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

</body>

</html>